<ion-header>
  <ion-toolbar>
    <ion-title><strong>アスリート</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
   <img src="../../assets/pin-pon.jpg" width="30%" style="float: left">
  </div>
  <u>
    <p style="text-align: center">
     <font size="5">水村信二選手</font>
    </p>
  </u>
  <br clear="left">
  <p style="text-align: left;"><font size="4">・エピソード</font></p>  
  <p style="text-align: left;"><font size="4">・ルール</font></p>
  <ion-button>
   <!-- <ion-back-button defaultHref>もどる</ion-back-button> -->
   もどる<ion-icon slot="end" name="search"></ion-icon>

  </ion-button>
</ion-content>
