ion-content{
  --ion-background-color:#C1CEFF;
}

ion-button{
  --ion-color-blue-dark-shade: #002ad7;
  margin-left:15%;
  margin-top:10%;
  width:70%;
  height:8%;
}

ion-title{
  margin-left:32%;
}

p{
  padding-top: 5%;
}

